# PHP Runtime
PROOPH_ENV=dev

# Storage credentials
PDO_DSN=pgsql:host=postgres port=5432 dbname=identity_mgmt
PDO_USER=postgres
PDO_PWD=
MONGO_SERVER=mongodb://mongodb:27017
MONGO_DB_NAME=identity_mgmt

# Superuser
SU_TENANT_ID=03c8d742-1bed-46d1-a985-080b9a036656

